.AboutContainer {
  width: 55%;
  margin: auto;
  padding: 6rem;
  text-align: center;
  border-radius: 25px;
  background-color: white;
}
.titleAbout {
  color: #000000;
  width: fit-content;
  padding: 1rem;
  margin: auto;
  padding-bottom: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}
.textAbout {
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 20px;
}

.gapminderlink {
  text-decoration-color: #ffca34;
  text-decoration-thickness: 2.5px;
}

.gapminderlink:visited {
  color: black;
}

.gapminderlink:hover {
  color: #ffca34;
}

.gapminderlink:link {
  color: black;
  background-color: transparent;
}

.headerPadding {
  padding-bottom: 2%;
}

.diamondStyle {
  color: #ffca34;
  font-size: 110%;
  text-align: center;
  padding-top: 2%;
  letter-spacing: 5px;
}

.learningTitle {
  margin-bottom: 8px;
}
