.AboutContainer {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
.titleAbout {
  color: #000000;
  padding: 1rem;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

.textAbout {
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: justify;
}

.gapminderlink {
  text-decoration-color: #ffca34;
  text-decoration-thickness: 2.5px;
}

.gapminderlink:visited {
  color: black;
}

.gapminderlink:hover {
  color: #ffca34;
}

.gapminderlink:link {
  color: black;
  background-color: transparent;
}

.headerPadding {
  padding-bottom: 2%;
}

.diamondStyle {
  color: #ffca34;
  font-size: 110%;
  text-align: center;
  padding-top: 2%;
  letter-spacing: 5px;
}

.learningTitle {
  margin-bottom: 8px;
}

/* =============== MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
  .AboutContainer {
    width: 70%;
  }

  .titleAbout {
    padding-top: 7rem;
    font-size: 30px;
  }

  .diamondStyle {
    font-size: 130%;
  }
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
  .AboutContainer {
    width: 80%;
  }
  .textAbout {
    font-size: 12px;
  }

  .diamondStyle {
    font-size: 130%;
  }
}
