.howToUseContainer {
  width: 70%;
  margin: auto;
  padding-top: 6rem;
  border-radius: 25px;
  background-color: white;
}
.textAndTitle {
  width: 500px;
}

.title {
  color: #000000;
  width: fit-content;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0px;
  font-size: 40px;
  margin-bottom: 40px;
}

.text {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 0px;
  text-align: justify;
}

.howToUseContent {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.howToUseImageContainer {
  width: 300px;
  height: 200px;
  place-self: center;
}

.howToUseImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.clickLink:link {
  color: black;
  background-color: transparent;
}

.clickLink:hover {
  color: #ffca34;
}

iframe {
  width: 90%;
  height: 400px;
}

.videoContainer {
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.videoTitle {
  padding-bottom: 20px;
}

/* ===============  LARGE DEVICES ===============*/

@media screen and (min-width: 1600px) {
  .howToUseContainer {
    width: 50%;
  }
}

/* =============== MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
  .howToUseContainer {
    width: 80%;
  }

  .howToUseImageContainer {
    width: 200px;
    height: 150px;
    place-self: center;
  }

  iframe {
    height: 350px;
    width: 100%;
  }

  .videoContainer {
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .smallerTitle {
    text-align: center;
  }

  .videoTitle {
    padding-top: 20px;
  }
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
  .text {
    font-size: 12px;
  }

  iframe {
    height: 200px;
  }

  .smallerTitle {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }
}
