.howToUseContainer {
  width: 60%;
  margin: auto;
  padding:6rem;
  border-radius: 25px;
  background-color: white;
  row-gap: 5%;
 
}

.title {
  color: #ffca34;
  width: fit-content;
  padding: 3rem;
  margin: auto;
  background-image: url(/src/Images/titleBackground.png);
  background-size: 100% 100%;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 40px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 0px;
}

.leftSideInfo{
  text-align: justify;
  float: left;
  padding-bottom: 5%;
}

.rightSideInfo{
  text-align: justify;
  float: right;
  padding-bottom: 5%;
}

.ladderImage{
  padding-right: 10%;
  padding-top: 2%;
}

.levelsImage{
  padding-right: 10%;
  padding-top: 5%;
}

.marginalTaxImage{
  padding-left: 15%;
  padding-top: 4%;
}

.toggleImage{
  padding-left: 6%;
  padding-top: 10%;
}

.dollarImage{
  padding-right: 15%;
  padding-top: 2%;
}

.clickLink:link {
  color: black;
  background-color: transparent;
}

.clickLink:hover{
  color: #ffca34;
}