.howToUseContainer {
  width: 55%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 25px;
  background-color: white;

}

.title{
  color: #ffca34;
  border-bottom:2px solid #ffc93448;
  padding-bottom: 20px;
  font-size: 40px;
}
.text{
  font-size: 18px;
  padding-bottom: 15px;
}

.howToUseContainer > h1,
h2,
p {
  margin: 1rem;
}

