.teamContainer {
  padding: 6rem;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: -20px;
  padding-top: 2%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  background-color: #ffffff;
  padding: 10px;
}

.team-member-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.team-member-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-member-role {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.top-members {
  grid-row: 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-members {
  grid-row: 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: -100px;
}
.titleTeam {
  color: #ffca34;

  padding: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  background-image: url(/src/Images/titleBackground.png);
  background-size: 100% 100%;
}

.team-member-description {
  font-size: 14px;
  line-height: 1.5;
}

.icon-mail {
  font-size: 40px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}
.icon-linkedin {
  font-size: 23px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8.7px;
}

.icon-mail:hover {
  transform: scale(1.2);
  color: #ffca34;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.icon-linkedin:hover {
  transform: scale(1.2);
  color: #ffca34;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
