.taxTheRichContainer {
  padding: 2rem;
  padding-top: 6rem;
  column-gap: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.graph {
  align-self: start;
  position: sticky;
  top: 7rem;
}

.taxes {
  top: 3rem;
}
