.taxTheRichContainer {
  padding: 2rem;
  column-gap: 5rem;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: start;
}
.rightSide {
  position: sticky;
  top: 20vh;
  align-self: start;
}

.leftSide {
  scroll-behavior: auto;
}
