.sliders {
  position: absolute;
  margin-left: 137.5px;
  margin-top: 235px;
}

.slider-container {
  position: relative;
  float: left;
  width: 66.8px;
  z-index: 1;
  pointer-events: none;
}

.inGraphSlider {
  pointer-events: none;
  -webkit-appearance: none;
  margin: -20;
  padding: 0;
  height: 66.8px;
  width: 455px;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transform: rotate(-90deg);
  orientation: vertical;
}

.inGraphSlider::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 10px;
  width: 66.8px;
  background: url(/src/Images/NewHandle.png);
  background-size: 66.8px 5px;
  background-repeat: no-repeat;
  border-radius: none;
  cursor: grab;
  margin-top: 0px;
  transform: rotate(90deg);
}

.inGraphSlider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.inGraphSlider:hover + .hoverLine{
  opacity: 0.4;
  visibility: visible;
}

.hoverLine{
  position: fixed;
  visibility: hidden;
}
