/*Sliders*/
.boxSliderContainer {
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 5%;
  font-weight: bold;
}

.boxSlider {
  -webkit-appearance: none;
  width: 200px;
  appearance: none;
  height: 15px;
  background: gainsboro;
}

.boxSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
}

/*Box showing tax-percentage*/
.percentageBox {
  width: 4ch;
  text-align: center;
  margin-left: 5px;
}

/*PopUp*/
.info {
  position: relative;
  display: inline-block;
  cursor: default;
}

.info .infoText {
  position: absolute;
  left: 20px;
  padding: 5px;
  visibility: hidden;
  width: 150px;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;

  /*Tillfällig fullösning angående fontstorleken i boxen*/
  font-size: medium;
  font-weight: 100;
}

.info:hover .infoText {
  visibility: visible;
}
